body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f3f7;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-card {
    background: #ffffff;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.auth-card h2 {
    color: #0f2a45;
    margin-bottom: 5px;
}

.sub {
    color: #777;
    margin-bottom: 20px;
    font-size: 14px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 14px;
}

.auth-btn {
    width: 100%;
    padding: 10px;
    background: #ff9800;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}

.auth-btn:hover {
    background: #e68800;
}

.switch-text {
    margin-top: 15px;
    font-size: 14px;
}

.switch-text a {
    color: #0f4ec9;
    text-decoration: none;
    font-weight: bold;
}

.switch-text a:hover {
    text-decoration: underline;
}
