.dashboard {
  display: flex;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 200px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
}

.teacher-card {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.teacher-card h3 {
    margin-bottom: 15px;
    color: #333;
}

.teacher-info p {
    font-size: 16px;
    margin: 6px 0;
}

.teacher-info strong {
    color: #444;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f4f6f8;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.orange { background-color: #f39c12; }
.green { background-color: #27ae60; }
.blue { background-color: #2980b9; }
.purple { background-color: #8e44ad; }

.profile, .notices {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.notices ul {
  padding-left: 20px;
}
